<footer class="text-center mt-5">
    <div class="container d-flex justify-content-between align-items-center">
        <p class="mb-0 mx-auto">Desarrollado por Jimena Traipe para Desafío Latam</p>
        <div class="d-flex">
            <a href="https://www.facebook.com" class="btn btn-outline-dark btn-social mx-1" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.tiktok.com" class="btn btn-outline-dark btn-social mx-1" target="_blank">
                <i class="fab fa-tiktok"></i>
            </a>
            <a href="https://www.instagram.com" class="btn btn-outline-dark btn-social mx-1" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
</footer>
