{% load static %}
<div id="postresCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#postresCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#postresCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#postresCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#postresCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#postresCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/futuro.jpg' %}" class="d-block w-100" alt="futuro">
            <div class="carousel-caption d-block">
                <h5 class="display-5">Tu futuro</h5>
                <p class="lead">DISPONIBLE AQUI!</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/cubista.jpg' %}" class="d-block w-100" alt="cubista">
            <div class="carousel-caption d-block text-end">
                <h5 class="display-5">Casa Cubista</h5>
                <p class="lead">Vanguardia</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/edificio1.jpg' %}" class="d-block w-100" alt="edificio1">
            <div class="carousel-caption d-block text-end">
                <h5 class="display-5">Deptos</h5>
                <p class="lead">Vive en comunidad</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/savana.jpg' %}" class="d-block w-100" alt="savana">
            <div class="carousel-caption d-block text-end">
                <h5 class="display-5">SAVANA</h5>
                <p class="lead">Naturaleza Viva</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/selva.jpg' %}" class="d-block w-100" alt="selva">
            <div class="carousel-caption d-block text-end">
                <h5 class="display-5">SELVA</h5>
                <p class="lead">Naturaleza Libre</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/pride_edif.jpg' %}" class="d-block w-100" alt="pride">
            <div class="carousel-caption d-block text-end">
                <h5 class="display-5">PRIDE</h5>
                <p class="lead">Comunidad Segura <3</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#postresCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#postresCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>
