{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Bienvenide a Leaf-Home</h1>
    <p class="lead">Aquí encontrarás el espacio de tus sueños. Lugares alejados de la ciudad, o dentro de ella en comunidad de espacios seguros. ¡Ven y visítanos!</p>
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'img/playa.jpg' %}" class="card-img-top" alt="playa">
                <div class="card-body">
                    <h5 class="card-title">playita</h5>
                    <p class="card-text">Playa descripción</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{% static 'img/playa.jpg' %}" class="card-img-top" alt="playa">
                    <div class="card-body">
                        <h5 class="card-title">playita</h5>
                        <p class="card-text">Playa descripción</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{% static 'img/playa.jpg' %}" class="card-img-top" alt="playa">
                        <div class="card-body">
                            <h5 class="card-title">playita</h5>
                            <p class="card-text">Playa descripción</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <img src="{% static 'img/playa.jpg' %}" class="card-img-top" alt="playa">
                            <div class="card-body">
                                <h5 class="card-title">playita</h5>
                                <p class="card-text">Playa descripción</p>
                            </div>
                        </div>
                    </div>
        <!-- Se puede agregar más cards akiiiii! -->
    </div>
</div>
{% endblock %}
