{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="text-center">Registro</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form method="post" action="{% url 'success' %}">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="mb-3">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                <div class="mb-3">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="mb-3">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button type="submit" class="btn btn-outline-secondary">Registrarse</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
