{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Bienvenido, {{ user.get_username }}!</h4>
        <p>LEAF HOME QUEER AND TRANS SUPPORT AND COMPANY</p>
        <hr>
        <p class="mb-0">LEAF HOME QUEER AND TRANS SUPPORT AND COMPANY</p>
    </div>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Cerrar Sesión</button>
    </form></div>
{% endblock %}


